#admin-portal {
    display: flex;
    flex-direction: column;
}

.admin-portal-link-container {
    display: flex;
    flex-direction: row;
    // could later add in some styling where under certain width, flex-direction becomes column
}

.admin-portal-link {
    margin: .5em;
}