
table, th, td {
    border: 1px solid;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    min-width: 50px;
    max-width: 150px;
    overflow: scroll;
    height: 50px;
    white-space: nowrap;
    padding: 5px
}
.allusers-header, .allrecipes-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    div {
        margin: .25em;
    }
}
.display-info {
    flex-direction: row;
    display: flex;

}
.display-text {
    font-style: italic;
    margin-right: 1em;
}
.sort-checkbox {
    margin: .5em
}
.no-recipes-message {
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.recipe-id-link {
    color: blue;
}
.recipe-id-link:hover {
    color: purple;
}

#add-recipe-form, #modify-recipe-form {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.-button{
    width:25px;
    height:25px;
    display:inline-block;
    margin: auto;
    align-items: center;
}

.ingredients{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    .ingredient{
        background-color: @red;
        margin: 1%;
        height: fit-content;
        width: fit-content;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: 1px solid @backgroundLight;
        padding: 0.5%;
    }
}