.footer {
    width: 100%;
    min-height: fit-content;
    padding: 0;
    padding-top: 1%;
    text-align: center;
    display: block;
    background-color: @red;
    color: white;
    border-top: 10px solid @darkGreen;
    margin-top: 5%;
    font-weight: bold;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    .footer-upper{
        width: 100%;
        display: flex;
        padding: 0.5%;
        div{
            width: 25%;
        }
    }
    .footer-lower{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        .col{
            min-width: 100%;
        }
        .media-container-row{
            padding: 0.5%;
            padding-bottom: 1.5%;
            margin-right: 0px;
            margin-left: auto;
            color: @lightGreen;
        }
    }
}
.title-card{
    font-size:xx-large;
    padding-bottom: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.text{
    font-weight: normal;
    text-shadow: 1px 1px 2px #000000;
}
a, .title-card{
    color: @lightGreen;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.fa-twitter {
    background: @darkGreen;
    color: white;
}

.fa-google {
    background: @darkGreen;
    color: white;
}
.fa-instagram {
    background: @darkGreen;
    color: white;
}

.social-media{
    display: flex;
    min-width: 200px;
    margin: auto;
}
.bottom{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    // .spacer{
    //     flex:1;
    // }
}