@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  display: flex;
  height: 100vh;
}

.map {
  width: 75%;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.gm-style-iw .store-info-container {
  width: fit-content;
  padding: none;
}
.store-name {
  margin-top: 5px;
}

.store-img {
  border-radius: 5px;
}

.selectedStore-address {
  display: flex;
  align-items: center;
}
.store-info {
  margin-top: 10px;
  display: flex;
}

.autocomplete-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.back-link {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  align-self: flex-start;
  text-decoration: none;
  color: white;
}

.back-link:hover {
  color: rgb(19, 15, 15);
}
.location-input-container {
  // z-index: 99;
  // width: 350px;
  width: 90%;
  // margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  align-self: center;
}

.location-search-input {
  font-family: 'Lato', sans-serif;
  // width: 305px;
  width: 90%;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 0.85rem;
  margin-right: 5px;
  font-weight: bold;
}

.suggestion-locations {
  font-family: 'Lato', sans-serif;
  gap: 10px;
  border: 5px;
  // width: 310px;
  width: 90%;
  height: 55px;
  background-color: white;
  border: 1px grey solid;
  border-radius: 1px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: bold;
  color: black;
  overflow: hidden;
  cursor: pointer;
}
.autocomplete-dropdown-container {
  position: absolute;
  width: 91.5%;
}

.suggestion-locations:hover {
  background-color: rgb(241, 241, 241);
}

.location-icon {
  color: rgb(194, 29, 29);
}

.map p {
  font-family: 'Lato', sans-serif;
}

.gm-style-iw {
  margin-bottom: 50px;
  margin-right: 5px;
  width: max-content !important;
  display: flex;
  justify-content: center;
}

.store-list-search {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.store-list {
  overflow: scroll;
  width: 100%;
}

.store {
  font-family: 'Lato', sans-serif;
  border-bottom: 1px grey dotted;
  width: 100%;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store img {
  width: 90px;
  height: 80px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.store-text {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.store:hover {
  background-color: rgb(234, 226, 226);
  cursor: pointer;
}

.stores-button-link {
  text-decoration: none;
}

.center-map {
  z-index: 99;
  position: absolute;
  margin: 30px;
  align-items: flex-end;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: rgb(25, 25, 25);
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
