.shoppingList-container{
    display:block;
    margin: auto;
    text-align: center;
    min-height: 70vh;
    h1{
        padding: 35px;
    }
    .recipe{
        max-width: 30%;
        margin: auto;
        font-size: x-large;
        font-weight: bold;
        text-align: left;
        .ingredients{
            font-size: normal;
            font-weight: normal;
            margin: auto;
            max-width: 75%;
            display: block;
            .ingredient-checkbox{
                display: block;
                input{
                    margin: 15px;
                }
            }
        }
        input {
            margin: 15px;
        }
    }
}