
* {
    margin: 0px;
    max-width: 100%;
}
#root{
    min-height: 100vh;
}
body{
    background-color: @backgroundLight;
}

.small-logo {
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 0px;
}

.large-logo {
    text-align: center;
    font-size: x-large;
    padding: 25px;
    background-color: @red;
    color: white;
    border-bottom: 10px solid @darkGreen;
    img {
        margin: auto;
        display: block;
        justify-content: center;
        text-align: center;
        width: 250px;
        height: 250px;
        background-color: white;
        border-radius: 150px;
        margin-bottom: 25px;;
    }
    
}

.footer {
    position: fixed;
    margin-bottom: -50px;
    width: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    background-color: @red;
    color: white;
    border-top: 10px solid @darkGreen;
    margin-top: 25px;
    font-weight: bold;
    div{
        text-align: center;
        width: 33%;
    }
}

img {
    margin: auto;
    border-radius: 25px;
    max-width: 300px;
} 