.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // padding: 5px;
  background-color: @red;
  color: white;
  border-bottom: 10px solid @darkGreen;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  button {
    text-shadow: 3px black;
    background-color: @darkGreen;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .nav-bar {
    padding: 10px;
    button {
      margin: 5px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      background-color: @darkGreen;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
  .nav-title {
    width: 40%;
    display: flex;
    h1 {
      padding: 10px;
      color: @lightGreen;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    img {
      margin: 3px;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
}
