.user-suggestions-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

// .submit-review {
//   margin-top: 5px;
//   margin-right: 110px;
// }

.suggestion-radio {
  margin-left: 5px;
}

.user-recipe-suggestion {
  margin-top: 90px;
  margin-bottom: 50px;
}

.user-suggestion-link {
  margin: 50px;
}
.user-suggestion-link button {
  margin-top: 10px;
}

.suggestion-button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.suggestons-filter-sort {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.filter-container {
  display: flex;
  flex-direction: column;
}
.filter-sort-container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.suggestion-buttons {
  display: flex;
  justify-content: center;
  margin-right: 70px;
  margin-top: 10px;
}
